body {
    background-image: url("../images/background.jpg")
}

#heading {
    font-weight: 300
}

#tag {
    font-weight: 400
}

.jumbotron {
    opacity: .5;
    text-align: center;
    font-weight: 500
}