

.jumbotron{
    /* text-align: center; */
    font-weight: 500;
}

#jumbotron {
    background-color: white;
    text-align: center;
}

#heading {
    font-weight: 350
}

#tag {
    font-weight: 400
}

#navbar {
    text-align: center
}

#toplogo {
    width: 50%;
    height: 80%;
}

#item:hover {
    color: red
}

#item {
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab Bold', Arial;
    font-size: 70%
}

#menu {
    text-align: center;
    width: 100%;
    background-color: black;

}

