#picture {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#body {
    position: static;
    z-index: 0;
    width: 90%;
    height: 100%;
    margin: 3%;
}

#jumbotron {
    background-color: white;
}

#item:hover {
    color: maroon
}

#item {
    color: white;
}

#menu {
    text-align: center;
    width: 100%;
    background-color: black;

}

#heading {
    text-align: center;
    font-family: 'Pragmatica Bold', Arial
}

#tag {
    text-align: center;
    font-family: 'Pragmatica Bold', Arial
}

#text {
    font-family: 'Roboto Slab Bold', Arial
}

#toplogo {
    width: 50%;
    height: 80%;
}

#panel {
    text-align: center
}

#item {
    font-weight: bold;
    font-family: 'Roboto Slab Bold', Arial
}

#tagline {
    text-align: center;
}

#icon {
    text-align: center;
    height: 100%;
    width: 30%
}

#social {
    color: black
}

#nav {
    background-color: black;
}

#link {
    color: white;
}

#link:hover {
    color: red
}